body{
  background-color: #2c2b3d; 
}

.page{
 width: 1280px;
 margin: 71px auto
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
  font-family: 'jetbrains', sans-serif;
}

main{
  display: flex;
  justify-content:space-between;
  margin-top: 67px;
  color: #C2C2C2;
}

ul{
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;

}

ul li a:hover{
  font-weight: bold;
}

ul li a{
  text-decoration: none;
  color: #C2C2C2;
}


main{
  text-align: center;
}

h1{
  font-family: 'jetbrains', sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;

}
strong{

 color: #00BFA6;
 font-size: bold;
}

p{
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

footer{
  font-family: 'jetbrains', sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 218px;
  color: #C2C2C2;
  bottom: 0%;
}

a{
  color: #C2C2C2;
  text-decoration: none;
}

#line{
  width: 568px;
  height: 0;
  border: 1px solid #00BFA6 ;
  margin: 191px auto 78px;
  
}

#cadeado{
  position: fixed;
  bottom: 0%;
  left: 0%;
}
